file:.#egg=fellowship
Jinja2
attrs
genson
grpc-requests
grpcio
grpcio-tools
jsonschema
PyYAML
rfc3987
requests
Sphinx
sphinx-argparse
sphinx-autodoc-typehints
sphinx-rtd-theme
sphinxcontrib-spelling
